{% if attributes -%}
   <div{{ attributes.addClass('slidershow-v1') }}>
{% endif %}
   
   {% if title %}
      <h3>{{ title }}</h3>
   {% endif %}

   {% set i = 0 %}
   {% for row in rows %}
      
      {% set i = i + 1 %}

      {% if i % 3 == 1 %}
         <div class="item">
            <div class="post-large">{{ row.content|raw }}</div>
               <div class="posts-small">
                  
      {% else %}

         <div class="post-small-item">
            <div class="item content">{{ row.content|raw }}</div>
         </div> 
      {% endif %}   
              
      {% if i % 3 == 0 or i == rows|length %}
         </div></div>
      {% endif %}   
    
   {% endfor %} 

{% if attributes -%}
    </div>
{% endif %}

