.margin-top-10{
  margin-top: 10px!important;
}
.margin-top-15{
  margin-top: 15px!important;
}
.margin-top-20{
  margin-top: 20px!important;
}
.margin-top-30{
  margin-top: 30px!important;
}
.margin-top-40{
  margin-top: 40px!important;
}
.margin-top-50{
  margin-top: 50px!important;
}

.margin-bottom-0{
  margin-bottom: 0!important;
}
.margin-bottom-10{
  margin-bottom: 10px!important;
}
.margin-bottom-20{
  margin-bottom: 20px!important;
}
.margin-bottom-30{
  margin-bottom: 30px!important;
}
.margin-bottom-40{
  margin-bottom: 40px!important;
}
.margin-bottom-50{
  margin-bottom: 50px!important;
}
.margin-bottom-60{
  margin-bottom: 60px!important;
}

.padding-top-10{
  padding-top: 10px!important;
}
.padding-top-20{
  padding-top: 20px!important;
}
.padding-top-30{
  padding-top: 30px!important;
}
.padding-top-40{
  padding-top: 40px!important;
}
.padding-top-50{
  padding-top: 50px!important;
}

.float-left{
  float: left;
}   
.no-margin{
  margin: 0!important;
}
.no-bg{
  background-color: $nocolor!important;
}
.bg-theme{
  background: $theme-color!important;
}
.col-no-padding{
  div[class*="col-"]{
    padding: 0!important;
  }
}
.p-static{
  position: static!important;
}
.p-relative{
  position: relative!important;
}
.bg-white{
  background: $white;
}
.bg-black{
  background: #333333;
}
.ui-widget-content{
  color: $text-color;
}
.text-theme{
  color: $theme-color!important;
}
.text-black{
  color: $black;
}
.text-white{
  color: $white;
}
.text-large, .text-big{
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
  text-transform: uppercase;
}
//Social
.connect {
  ul {
    margin-bottom: 0;
      li {
        text-align: center;
        padding-right: 0;
        width: 16.5%;
        height: 52px;
        padding-top: 12px;
        margin-right: -4px;
        &.social-facebook{
            &:hover {
              background-color: #3a5898;
            }
        }
        &.social-twitter{
            &:hover {
              background-color: #00acee;
            }
        }
        &.social-google{
            &:hover {
              background-color: #dd6363;
            }
        }
        &.social-youtube{
            &:hover {
              background-color: #ce3527;
            }
        }
        &.social-letter{
            &:hover {
              background-color: #ccc33b;
            }
        }
        &.social-rss  {
            width: 51px;
            &:hover {
              background-color: #e78e2f;
            }
        }
          &:first-child{
            border-left: none;
          }
          a {
            font-size: 20px;
            color: #686868;
            padding-left: 6px;
          }
      }
  }
}

.social-icon{
  text-align: center;
  a{
    background: none;
    @include size(auto, auto);
    line-height: 1;
    margin-right: 20px;
    font-size: 20px;
    color: #696969;
    &:last-child{
      margin-right: 0;
    }
  }
}

.footer-social {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  a {
    color: white;
    text-decoration: none;
    @include transition(all 0.5s ease 0s);
    @include border-radius(50%);
    margin-right: 18px;
    display: inline-block;
    float: left;
    &:last-child{
      margin-right: 0;
    }
    i {
      font-size: 22px;
    }
  }
}
  
a{
  &:hover{
    i[class*="fa-facebook"] {
      color: #3b5998;
    }
    i[class*="fa-twitter"] {
      color: #4099ff;
    }
    i[class*="fa-skype"] {
      color: #12a5f4;
    }
    i[class*="fa-dribbble"] {
      color: #ea4c89;
    }
    i[class*="fa-linkedin"] {
      color: #0e76a8;
    }
    i[class*="fa-apple"] {
      color: #f2f2f2;
    }
    i[class*="fa-pinterest"] {
      color: #c92228;
    }
    i[class*="fa-google"] {
      color: #d34836;
    }
    i[class*="fa-youtube"] {
      color: #c4302b;
    }
    i[class*="fa-vimeo"] {
      color: #4ebbff;
    }
    i[class*="fa-tumblr"] {
      color: #35465c;
    }
    i[class*="fa-xing"] {
      color: #126567;
    }
    i[class*="fa-instagram"] {
      color: #e8e2d9;
    }
  }
}

.social-text{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  > li{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    float: left;
    a{
      line-height: 60px;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      display: block;
      text-align: center;
      color: $white;
      @include transition(all 0.35s);
      &:hover{
        background: $theme-color;
      }
      &.facebook{
        background: #3b5998;
      }
      &.twitter{
        background: #4099ff;
      }
      &.skype {
        background: #12a5f4;
      }
      &.dribbble {
        background: #ea4c89;
      }
      &.linkedin {
        background: #0e76a8;
      }
      &.apple {
        background: #f2f2f2;
      }
      &.pinterest {
        background: #c92228;
      }
      &.google {
        background: #d34836;
      }
      &.youtube {
        background: #c4302b;
      }
      &.vimeo {
        background: #4ebbff;
      }
      &.tumblr {
        background: #35465c;
      }
      &.instargram {
        background: #125688;
      }
    }  
  }
}


.post-masonry-style > div{
  margin-left: -1px;
  @include translateX(1px);
}

.nav-tabs {
  border: none;
  > li {
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    > a {
      font-weight: 700;
      color: #bababa;
      padding: 8px 14px;
      border: none;
      font-size: 14px;
      text-transform: uppercase;
      background: none;
      letter-spacing: 1px;
      i {
        margin-right: 5px;
      }
      &:hover, &:focus, &:active {
        color: $theme-color;
      }
    }
  }
  > li.active > a, > li > a.active {
    color: $theme-color;
  }

  &.drupal-tabs{
    @include clearfix();
    border-bottom: 1px solid $border-color;
    border-top: 0!important;
    margin-top: 15px;
    margin-bottom: 20px;
    > li{
      > a{
        line-height: 2; 
      }
      &.is-active > a{
        color: $theme-color;
      }
    }  
  }
}

.box-quick-link{
  ul {
    padding: 0;
    margin: 0;
      > li{
        @include size(46%, 70px);
        border: 1px solid $border-color;
        float: left;
        list-style: none;
        text-align: center;
        margin-bottom: 8%;
        &:nth-child(2n){
          margin-left: 4%;
        }
        &:nth-child(2n+1){
          margin-right: 4%;
        }
        a{
          font-weight: 600;
          font-size: 13px;
          display: block;
          line-height: 1.8;
          padding-top: 12px;
          i{
            display: block;
            font-size: 23px;
            color: #777777;
          }
          &:hover{
            color: $white;
            i{
              color: $white;
            }
          }
        }
      &:hover{
        background-color: #555555;
        *{
          color: $white;
        }
      }
    }
  }
}

.intro-text{
  max-width: 455px;
}

//
.btn-theme{
  background: $theme-color;
  font-size: 14px;
  font-weight: 800!important;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.init-carousel-owl{
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
  .owl-item > .item{
    padding-left: 15px;
    padding-right: 15px;
  }
  &[data-items*='1']{
    margin-left: 0!important;
    margin-right: 0!important;
    .owl-item > .item{
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
}

// OWL carousel-------------------------
.owl-carousel{
  background: none!important;
  .owl-controls{
    margin: 0;
    .owl-pagination{
      position: relative;
      bottom: 10px;
      z-index: 9;
      display: inline-block;
      width: 100%;
      left: 0;
      .owl-page {
        span{
          background: #d6d6d6;
          @include size(10px, 10px);
        }
        &.active span{
          background: #869791;
        }
      }
    }
  }

  .owl-buttons{
    @include opacity(0);
    @include transition(opacity 0.35s);
    > div{
      @include transition(all 0.35s);
      position: absolute;
      top: 50%;
      margin-top: -22.5px;
      text-indent: -999999px;
      @include size(40px, 40px);
      color: $white;
      border: 2px solid rgba(0, 0, 0, 0.6);
      background: rgba(0, 0, 0, 0.3);
      &:hover{
        background: rgba(0, 0, 0, 0.8);
        color: $white;
      }
      &:before{
        position: absolute;
        font-family: 'FontAwesome';
        text-indent: 1px;
        top: 0;
        right: 0;
        font-size: 25px;
        @include size(100%, 100%);
        line-height: 35px;
        text-align: center;
      }
      &.owl-prev{
        right: 0;
        margin-right: 0;
        &:before{
          content: "\f105";
        }
      }
      &.owl-next{
        left: 0;
        margin-left: 0;
        &:before{
          content: "\f104";
        }
      }
    }
  }
  &:hover .owl-buttons{
    @include opacity(1);
    .owl-next{
      margin-left: 30px;
    }
    .owl-prev{
      margin-right: 30px;
    }
  }
}

div.error{
  background-repeat: no-repeat!important;
  background-image: none!important;
}

// OWL carousel-------------------------
.owl-carousel{
  background: none!important;
  .owl-controls{
    margin: 0;
    .owl-pagination{
      position: relative;
      bottom: 10px;
      z-index: 9;
      display: inline-block;
      width: 100%;
      left: 0;
      .owl-page {
        span{
          background: #d6d6d6;
          @include size(10px, 10px);
        }
        &.active span{
          background: #869791;
        }
      }
    }
  }  
  .owl-nav{
    @include opacity(0);
    @include transition(opacity 0.3s);
    > div{
      @include transition(all 0.3s);
      position: absolute;
      top: 50%;
      margin-top: -20px;
      @include size(40px, 40px);
      @include border-radius(50%);
      @include box-shadow(1px 2px 3px 2px rgba(0, 0, 0, 0.2));
      color: $black;
      background: $white;
      @include opacity(1);
      line-height: 40px;
      text-align: center;
      font-size: 25px;
      padding-top: 0;
      padding-bottom: 0;
      &:hover{
        background: rgba(0, 0, 0, 1);
        color: $white;
      }
      &.owl-prev{
        right: auto!important;
        left: 15px!important;
      }
      &.owl-next{
        left: auto!important;
        right: 15px!important;
      }
    }
  }
  &:hover .owl-nav{
    @include opacity(1); 
    .owl-next{
      margin-left: 30px;
    }
    .owl-prev{
      margin-right: 30px;
    }   
  }
}

.return-top{
  &.default{
    display: none;
    position: fixed;
    right: 60px;
    bottom: 100px;
    @include size(40px, auto);
    background: #34495E;
    color: $white;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    @include box-shadow(0 0 5px rgba(0, 0,0, 0.1));
    @include transition(all 0.35s);
    z-index: 999;
    &:hover{
      background: $theme-color;
      cursor: pointer;
      color: $white;
    }
  }
}

.gmap{
  margin-top: 60px;
  iframe{
    width: 100%;
  }
}

.panel{
  border: none!important;
  margin-bottom: 25px!important;
  margin-top: 0!important;
  -webkit-box-shadow: none!important;
  -ms-box-shadow: none!important;
  -o-box-shadow: none!important;
  box-shadow: none!important;
  .panel-heading{
    background: none!important;
    padding: 0!important;
    .panel-title{
      font-size: 14px;
      text-transform: none;
      > a{
        border: 2px solid $theme-color;
        padding: 20px 25px;
        display: block;
        letter-spacing: 0;
        color: $black; 
        position: relative;
        &:after{
          content: "\f067";
          font-family: "FontAwesome";
          position: absolute;
          font-size: 14px;
          top: 50%;
          font-weight: 300!important;
          right: 20px;
          margin-top: -7px;
          z-index: 1;
          color: $theme-color;
        }
        &.collapsed{
          color: #999999;
          border-color: $border-color!important;
          &:after{
            content: "\f068";
            color: #EEEEEE;
          }
        }
      }
    }
  }
  
  .panel-body{
    border: none!important;
    line-height: 28px;
    padding: 25px 30px 0;
  }
}

.dropcap {
  display: block;
  float: left;
  font-size: 40px;
  line-height: 34px;
  color: #444;
  margin: 6px 8px 0 0;
  &.border-dropcap {
    border: 2px solid #444;
    width: 46px;
    height: 46px;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    @include border-radius(2px);
    margin: 8px 12px 0 0;
  }
  &.bg-dropcap {
    background-color: #444;
    color: #fff;
    width: 48px;
    height: 48px;
    font-size: 28px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    @include border-radius(2px);
    margin: 8px 12px 0 0;
  }
  &.circle-dropcap {
    @include border-radius(50%);
    border: 2px solid #444;
    width: 46px;
    height: 46px;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    @include border-radius(2px);
    margin: 8px 12px 0 0;
    @include border-radius(50%);
  }
}