<div class="offcanvas-sidebar">
    <div id="gva-offcanvas-inner" class="gva-offcanvas-inner">
      <div class="offcanvas-close"><a><i class="fa fa-times"></i></a></div>
      {% if page.offcanvas %}
        {{ page.offcanvas }}
      {% endif %}
    </div>
  </div>  