   {% if preloader == 1 %}
     <div id="jpreContent" >
         <div id="jprecontent-inner">
            <div class="preloader-wrapper active">
               <img src="{{ theme_path }}/images/preloader/preloader-10.gif" alt="" />
            </div>  
         </div>
       </div>
   {% endif %} 